<taskModel about="urn:disco.wpi.edu:examples:Appraisal" xmlns="http://ce.org/cea-2018">
  <!-- 
       This file includes all the required events in the source file to test the appraisal mechanisms.
  -->

  <script init="true">

		function appraise () {
       //Packages.Mechanisms.Appraisal.AppraisalProcesses.testAppraisal();
       //println("From inside of appraise function!");
       Packages.AppraisalGoalManagement.doAppraisal();
       //return "test appraisal";
    }
  </script>
  
</taskModel>
