<taskModel about="urn:disco.wpi.edu:examples:Appraisal" xmlns="http://ce.org/cea-2018">
  <!-- 
       This file includes all the required events in the source file to test the appraisal mechanisms.
  -->

  <script init="true">

		 var post_PrepareControlSwitch;
		 var post_RemoveCover;
		 var post_ConnectAdaptor;
		 var post_PlacePanel;
		 var post_WeldPanel;
		 var post_CheckPanelAttachment;
		 var post_CheckWirings;
		 var post_CheckControlSwitch;
		 var post_CheckCascadingCells;
		 var post_CheckOutputCurrent;

		function process (emotionInstance) {
       return Packages.AffectiveMotivationalCollaborationFramework.process(emotionInstance);
    }

		function updatePreviousCollaborationStatus () {
       Packages.AffectiveMotivationalCollaborationFramework.updateCollaborationStatus();
    }
  </script>
  
</taskModel>
